<template>
    <footer class="wrapper-footer">
        <nav class="container">
            <div class="row">
                <!--<ul class="social col-xs-7 col-sm-4 col-md-2 pull-right">
                    <li><a href="http://github.com/composer/packagist" title="GitHub"><span class="icon-github"></span></a></li>
                    <li><a href="https://twitter.com/packagist" title="Follow @packagist"><span class="icon-twitter"></span></a></li>
                    <li><a href="mailto:contact@packagist.org" title="Contact"><span class="icon-mail"></span></a></li>
                </ul>-->

                <ul class="col-xs-4 col-md-2">
                    <li><router-link to="/about">About Packagist</router-link></li>
                </ul>

                <div class="clearfix visible-xs-block"></div>

                <ul class="col-xs-3 col-md-2">
                    <li><router-link to="/statistics">Statistics</router-link></li>
                </ul>

                <div class="clearfix visible-xs-block"></div>

                <ul class="col-xs-3 col-md-2">
                    <li><router-link to="/rest">API</router-link></li>
                </ul>

            </div>

            <!--<div class="row">
                <p class="toran col-xs-12">Packagist maintenance and hosting is supported by <a href="https://toranproxy.com/">Toran Proxy</a></p>
            </div>-->
        </nav>
    </footer>
</template>

<script>
    export default {
        name: 'footer'
    }
</script>
