<template>
    <header class="navbar-wrapper navbar-fixed-top">
        <nav class="container">
            <div class="navbar" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="navbar-brand">
                        <router-link to="/">
                            Gigigo Packagist</a> <em class="hidden-sm hidden-xs">The PHP Package Repository</em>
                        </router-link>
                    </h1>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link to="/submit">Submit</router-link>
                        </li>
                        <li>
                            <router-link to="/about">About</router-link>
                        </li>
                        <li>
                            <router-link to="/settings">Settings</router-link>
                        </li>
                        <li>
                            <router-link to="/runner">Runner&nbsp;&nbsp;<span v-if="numBuilds != 0" class="badge">{{numBuilds}}</span></router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>

    const socket = require('./../services/ws').io;

    export default {
        name: 'header',
        data(){
            return {
                numBuilds: 0,
                builds: []
            }
        },
        created(){
            socket.on('task',  (data) => {

                if (data.end) {
                    var index = this.builds.indexOf(data.repositoryName);
                    if (index > -1)
                        this.builds.splice(index, 1);
                } else {
                    if(this.builds.indexOf(data.repositoryName) == -1){
                        this.builds.push(data.repositoryName)
                    }
                }
                this.numBuilds = this.builds.length
            });            
        }
    }
</script>