<template>


    <section class="wrapper">
        <section class="container content">
            <div class="row hidden">
                <div class="search-list col-md-12"></div>
            </div>
            <h2 class="title">Runner list</h2>
            <section class="row">

                <div class="col-md-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th># date</th>
                                <th>repository</th>
                                <th>data</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="field in $store.state.buildsRunner">
                                <th scope="row">{{field.date}}</th>
                                <td>{{field.repositoryName}}</td>
                                <td>{{field.data}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </section>
        </section>
    </section>

</template>

<script>
    
    const socket = require('./../services/ws').io;
    const moment = require('moment')

    export default {
        name: 'runner',
        data(){
            return{
                dataFields: []
            }
        },
        created(){
            socket.on('task',  (data) => {
                if (!data.end) {
                    this.$store.commit('addElement', {
                        date: moment().format('MMMM Do YYYY, h:mm:ss a'),
                        repositoryName: data.repositoryName,
                        data: data.message
                    })
                }
            });            
        }
    }
</script>
