<template>
    <div>
        <section class="wrapper wrapper-search">
            <div class="container with-description">
                <div id="search-form">
                    <div class="sortable row">
                        <div class="hidden"></div>
                        <div class="col-xs-12 js-search-field-wrapper col-md-9">
                            <input type="search" id="search_query_query" placeholder="Search packages..." tabindex="1" class="form-control" :value="textSearch" @input="search">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 hidden-xs">
                        <img src="./../../assets/img/logo-small.png" class="logo">
                        <p>Packagist is the main <a href="https://getcomposer.org/">Composer</a> repository. It aggregates public
                            PHP packages installable with Composer.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <template v-if="showList">
            <list-packages></list-packages>
        </template>
    </div>


</template>

<script>

    const {mapState, mapMutations} = require('vuex')
    const ListPackages  = require('./Packages/List.vue')

    export default {
        name: 'search',
        components: {
            'list-packages': ListPackages
        },
        created(){
        },
        data(){
            return {
                showList: false
            }
        },
        computed: mapState([
            'textSearch'
        ]),
        watch: {
            '$route': function(to){
                if(to.name != 'search' && this.$store.textSearch != '')
                    this.$store.commit('clearSearch')
            }
        },
        methods: {
            search(event){
                this.$store.commit('newSearch', event.target.value)
                if (this.$route.name == 'search'){ 
                    this.$router.replace({
                        query: {
                            text: event.target.value
                        }
                    })  
                } else {
                    this.$router.push({
                        name: 'search',
                        query: {
                            text: event.target.value
                        }
                    })                    
                }

            }
        }
    }
</script>

<style>

</style>