<template>
    <section class="wrapper">
        <section class="container content" role="main">
            <div class="row hidden">
                <div class="search-list col-md-12"></div>
            </div>

            <h1>Packages from squizlabs</h1>
            <ul class="packages list-unstyled">
                <li data-url="/packages/squizlabs/php_codesniffer" class="row">
                    <div class="col-xs-12 package-item">
                        <div class="row">
                            <div class="col-sm-9 col-lg-10">
                                <p class="pull-right language">PHP</p>
                                <h4 class="font-bold">
                                    <router-link :to="{ name: 'package', params: { vendor: 'squizlabs', project: 'php_codesniffer' } }">squizlabs/php_codesniffer</router-link>
                                </h4>
                                <p>PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files and detects violations of a defined
                                    set of coding standards.</p>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <p class="metadata">
                                    <span class="metadata-block"><i class="glyphicon glyphicon-arrow-down"></i> 9 856 996</span>
                                    <span class="metadata-block"><i class="glyphicon glyphicon-star"></i> 3 076</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-url="/packages/squizlabs/php_codesniffer_tests" class="row">
                    <div class="col-xs-12 package-item">
                        <div class="row">
                            <div class="col-sm-9 col-lg-10">
                                <h4 class="font-bold">
                                    <router-link :to="{ name: 'package', params: { vendor: 'squizlabs', project: 'php_codesniffer' } }">squizlabs/php_codesniffer_tests</router-link>
                                </h4>
                                <p>A test lib that can easily be required &amp; used in custom PHP_CodeSniffer rulesets</p>
                                <p class="abandoned">
                                    <i class="glyphicon glyphicon-exclamation-sign"></i> Abandoned! See <a href="/packages/chr0n1x/php_codesniffer_tests">chr0n1x/php_codesniffer_tests</a>                                    </p>
                            </div>
                            <div class="col-sm-3 col-lg-2">
                                <p class="metadata">
                                    <span class="metadata-block"><i class="glyphicon glyphicon-arrow-down"></i> 2 735</span>
                                    <span class="metadata-block"><i class="glyphicon glyphicon-star"></i> 0</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </section>
    </section>
</template>

<script>

    const co   = require('co')
    const data = require('./../services/data')
    const _    = require('lodash')

    export default {
        name: 'vendor',
        data(){
            return {}
        },
        created(){

        }
    }
    
</script>