<template>
    <section class="wrapper">
        <section class="container content">
            <div class="row hidden">
                <div class="search-list col-md-12"></div>
            </div>

            <h2 class="title">Submit package</h2>

            <section class="row">
                <form name="package" class="col-md-6" id="submit-package-form" @submit.prevent="create">
                    <transition>
                        <ul v-if="error" class="list-unstyled package-errors">
                            <li>
                                <div class="alert alert-error">No valid/supported repository was found at the given URL</div>
                            </li>
                        </ul>
                    </transition>
                    <div id="package">
                        <div class="form-group">
                            <label for="package_repository" class="required">Type</label>
                            <select class="form-control" name="" id="package_type" v-model="form.type">
                                <option>vcs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="package_repository" class="required">Repository URL (Git/Svn/Hg)</label>
                            <input type="text" id="package_repository" placeholder="e.g.: https://github.com/composer/composer" class="form-control"
                                v-model="form.repository">
                        </div>
                        <!--<div class="form-group">
                            <label for="package_repository" class="required">Mirror</label>
                            <input type="checkbox" v-model="form.mirror" v-bind:true-value="true" v-bind:false-value="false">
                        </div>-->
                        <template v-if="checked">
                            <p>
                                <p>The package name found for your repository is: <b>{{repositoryName}}</b>, press Submit to confirm.</p>
                                <div v-if="hasContent(task)" class="alert alert-success" role="alert">
                                    {{task}}
                                </div>
                            </p>
                        </template>
                    </div>
                    <button class="btn btn-block btn-success btn-lg" type="submit">{{textButton}}</button>
                </form>

                <div class="col-md-6">
                    <p>Please make sure you have read the package
                        <router-link to="/about#naming-your-package">naming conventions</router-link> before submitting your package. The authoritative name of your package
                        will be taken from the composer.json file inside the master branch or trunk of your repository, and
                        it can not be changed after that.</p>
                    <p><strong>Do not submit forks of existing packages.</strong> If you need to test changes to a package that
                        you forked to patch, use <a href="https://getcomposer.org/doc/05-repositories.md#vcs">VCS Repositories</a>                        instead. If however it is a real long-term fork you intend on maintaining feel free to submit it.</p>
                    <p>If you need help or if you have any questions please get in touch with the Composer <a href="https://getcomposer.org/doc/07-community.md">community</a>.</p>
                </div>

            </section>
        </section>
    </section>
</template>

<script>

    const co = require('co')
    const data = require('./../../services/data')
    const socket = require('./../../services/ws').io;

    export default{
        name: 'submit',
        data(){
            return {
                form: {
                    repository: '',
                    type: 'vcs',
                    mirror: false,
                },
                repositoryName: "",
                error: false,
                checked: false,
                textButton: 'Check',
                task: ""
            }
        },
        created(){
            socket.on('task', this.paint );            
        },
        destroyed(){
            socket.off('task', this.paint);
        },
        methods: {
            hasContent(content){
                return content.trim() != ''
            },            
            paint(data){
                if (data.repositoryName == this.form.repository){
                    if (data.end) {
                        this.task = "Success"
                        setTimeout(() => {
                            this.$router.push('/');
                        }, 1000)
                    } else
                        this.task = data.message
                }              
            },
            showError(){
                this.error = true
            },
            hideError(){
                this.error = false
            },
            check: co.wrap(function* (){
                // Hide error message if exist
                this.hideError()
                // Check if form is empty
                if (this.form.repository.trim() == "")
                    return
                // Check of url repository
                let check = yield data.checkRepository(encodeURIComponent(this.form.repository))
                if (!check) {
                    this.showError()
                    return
                } 
                
                // Create repository
                let save = yield data.saveRepository(this.form)
                if (!save) {
                    this.showError()
                    return
                } 
                // Redirect to list
                this.$router.push('/');
            }),            
            create: co.wrap(function* (){
                // Hide error message if exist
                this.hideError()
                if (!this.checked) {
                    // Check if form is empty
                    if (this.form.repository.trim() == "")
                        return
                    // Check of url repository
                    let check = yield data.checkRepository(encodeURIComponent(this.form.repository))
                    if (!check) {
                        this.showError()
                        return
                    } 
                    this.checked = true
                    this.textButton = 'Submit'
                    this.repositoryName = check.namespace
                } else {
                    // Create repository
                    let save = yield data.saveRepository(this.form)
                    if (!save) {
                        this.showError()
                        return
                    } 
                }

            })
        }
    }
</script>