<template>
    <section class="wrapper">
        <section class="container content" role="main">
            <div class="row hidden">
                <div class="search-list col-md-12"></div>
            </div>

            <h2 class="title">Edit {{infoPackage.router.vendor}}/{{infoPackage.router.project}}</h2>

            <section class="row">
                <form class="col-md-6" @submit.prevent="edit">
                    <div id="form">
                        <transition>
                            <ul v-if="error" class="list-unstyled package-errors">
                                <li>
                                    <div class="alert alert-warning">No valid/supported repository was found at the given URL</div>
                                </li>
                            </ul> 
                        </transition>  
                        <div class="form-group">
                            <label for="package_repository" class="required">Type</label>
                            <select class="form-control" name="" id="package_type" v-model="infoPackage.type">
                                <option>vcs</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="form_repository" class="required">Repository</label>
                            <input type="text" id="form_repository" name="form[repository]" required="required" class=" form-control" v-model="infoPackage.repository">
                        </div>
                        <div v-if="checked">
                            <p>The package name found for your repository is: <b>{{repositoryName}}</b>, press Update to confirm.</p>
                            <div v-if="hasContent(task)" class="alert alert-success" role="alert">
                                {{task}}
                            </div>
                        </div>                        
                    </div>
                    <button class="btn btn-block btn-primary btn-lg" id="submitButton" type="submit">{{textButton}}</button>
                </form>
            </section>
        </section>
    </section>
</template>

<script>
    
    const co     = require('co')
    const data   = require('./../../services/data')
    const _      = require('lodash')
    const socket = require('./../../services/ws').io;

    export default{
        name: 'edit',
        data(){
            return {
                infoPackage: {
                    repository: '',
                    type: 'vcs',
                    router: {
                        vendor: '', project: ''
                    }                    
                },
                error: false,
                checked: false,
                isProcesing: false,
                textButton: 'Check',
                task: ""
            }
        },
        created(){
            socket.on('task', this.paint);   
            let parameters = this.$route.params
            data.GettingPackageData(parameters.vendor, parameters.project)
                .then(results => {
                    _.merge(this.infoPackage, results)
                    this.infoPackage.router = this.$route.params
                    this.infoPackage.repository = results.source.url
                    this.infoPackage.type = 'vcs'
                })
        },
        destroyed(){
            socket.off('task', this.paint);
        },        
        methods: {
            paint(data){
                if (data.repositoryName == this.infoPackage.repository){
                    if (data.end) {
                        this.task = "Success"
                        setTimeout(() => {
                            this.$router.push('/');
                        }, 1000)
                    } else
                        this.task = data.message
                }
            },
            hasContent(content){
                return content.trim() != ''
            },
            showError(){
                this.error = true
            },
            hideError(){
                this.error = false
            },            
            edit: co.wrap(function* (){

                // Hide error message if exist
                this.hideError()
                if (!this.checked) {
                    // Check if form is empty
                    if (this.infoPackage.repository.trim() == "")
                        return
                    // Check of url repository
                    let check = yield data.checkRepository(encodeURIComponent(this.infoPackage.repository))
                    if (!check) {
                        this.showError()
                        return
                    } 
                    this.checked = true
                    this.textButton = 'Update'
                    this.repositoryName = check.namespace
                } else {
                    // Create repository
                    let save = yield data.saveRepository(this.infoPackage)
                    if (!save) {
                        this.showError()
                        return
                    } 
                }

            })            
        }
    }
</script>