<template>
    <section class="wrapper">
        <section class="container content" role="main">
            <div class="row">
                <div v-if="hasRepositories()" class="search-list col-md-12">
                    <ul class="packages list-unstyled">

                        <li v-for="repository, key in repositories" data-url="asd" class="row selected">
                            <div class="col-xs-12 package-item">
                                <div class="row">
                                    <div class="col-sm-9 col-lg-10">
                                        <p class="pull-right language capitalize">{{repository.type}}</p>
                                        <h4 class="font-bold">
                                            <router-link :to="{ name: 'package', params: repository.route }">{{repository.name}}</router-link>
                                        </h4>
                                        <p>{{repository.description}}</p>
                                    </div>
                                    <div class="col-sm-3 col-lg-2">
                                        <p class="metadata">
                                            <span class="metadata-block"><i class="glyphicon glyphicon-arrow-down"></i> {{repository.downloads}}</span>
                                            <span class="metadata-block"><i class="glyphicon glyphicon-star"></i> {{repository.favers}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

                <div v-else class="alert alert-danger">
                        <p>No packages found.</p>
                </div>                
            </div>
             
            <section class="row">
                <info-satis></info-satis>
            </section>
        </section>
    </section>
</template>

<script>

const data = require('./../../services/data')
const Info = require('./../Static/Info.vue')
const _    = require('lodash')

export default {
    name: 'list',
    components: {
        'info-satis': Info
    },
    data() {
        return {
            repositories : [],
            query: ''
        }
    },
    watch: {
        '$route': function(to){
            this.query = _.get(to, 'query.text') || ''
            if(this.query == '') {
                this.$router.push({
                    name: 'list'
                })
            }
            this.getData()
        }
    },    
    created(){
        this.query = _.get(this.$route, 'query.text') || ''
        this.getData()
    },
    methods:{
        hasRepositories(){
            return this.repositories.length > 0
        },
        getData(){
            data.listAllPackages()
                .then((results) => {
                    let repos = _.map(results.results, (obj) => {
                        let namespace = obj.name.split('/')
                        obj.route = {
                            vendor: namespace[0],
                            project: namespace[1]
                        }
                        if (this.query == '' || (this.query != '' && obj.name.search(this.query) != -1))
                            return obj
                    })
                    this.repositories = _.remove(repos)
                })            
        }
    }
}

</script>

<style>
    .capitalize {
        text-transform: capitalize;
    }
</style>