<template>
    <section class="wrapper">
        <section class="container content" role="main">
            <div class="row hidden">
                <div class="search-list col-md-12"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 package">
                    <div class="package-header">

                        <div class="row">
                            <div class="col-md-9">
                                <h2 class="title">
                                    <i class="mark-favorite glyphicon glyphicon-star is-starred" data-remove-url="/users/fourcoders/favorites/fourcoders/cache-clear-bundle"
                                        data-add-url="/users/fourcoders/favorites/" data-package="fourcoders/cache-clear-bundle"></i>
                                    <a href="#">{{infoPackage.router.vendor}}/</a>{{infoPackage.router.project}}
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <p class="requireme"><i class="glyphicon glyphicon-save" id="copyClickboard" style="cursor:pointer" v-on:click="copyClickboard()" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom"></i> composer require {{infoPackage.name}}</p>

                            <p class="description">{{infoPackage.description}}</p>

                            <div class="btn-group btn-group-xs">
                                <div class="delete action">
                                    <button class="btn btn-danger" v-on:click="deletePackage()">Delete</button>
                                </div>
                                <!--<div class="force-update action">
                                    <button class="btn btn-success" v-on:click="updatePackage()">Update</button>
                                </div>-->
                                <div class="action">
                                    <template v-if='infoPackage.router.vendor != ""'>
                                        <router-link class="btn btn-primary" :to="{ name: 'edit', params: infoPackage.router }">Update</router-link>
                                    </template>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-offset-1 col-md-3">
                            <div class="row package-aside">
                                <div class="details col-xs-12 col-sm-6 col-md-12">

                                    <p class="maintainers">
                                        <img width="48" height="48" title="fourcoders" src="./../../../assets/img/gigigo.png">                                        
                                    </p>

                                    <p v-if="hasContent(infoPackage.homepage)" class="canonical">
                                        <a v-bind:href="infoPackage.homepage" title="Canonical Repository URL">{{infoPackage.homepage}}</a>
                                    </p>

                                    <p v-if="hasContent(infoPackage.support.source)"><a v-bind:href="infoPackage.support.source">Source</a></p>
                                    <p v-if="hasContent(infoPackage.support.issues)"><a v-bind:href="infoPackage.support.issues">Issues</a></p>
                                </div>

                                <div class="facts col-xs-12 col-sm-6 col-md-12">
                                    <p>
                                        <span>Installs:</span> {{ infoPackage.installs }}
                                    <p>
                                        <span>Dependents:</span> {{ infoPackage.dependents }}
                                    </p>
                                    <p>
                                        <span>Suggesters:</span> {{ infoPackage.suggesters }}
                                    </p>
                                    <p>
                                        <span>Forks:</span> {{ infoPackage.forks }}
                                    </p>
                                    <p>
                                        <span>Type:</span>{{infoPackage.type}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <form name="add_maintainer_form" method="post" action="/packages/fourcoders/cache-clear-bundle/maintainers/" id="add-maintainer-form"
                            class="col-sm-6 col-md-3 col-md-offset-9 hidden">
                            <div>
                                <h4>Add Maintainer</h4>
                                <p>
                                    <label for="add_maintainer_form_user" class="required">Username</label>

                                    <input type="text" id="add_maintainer_form_user" name="add_maintainer_form[user]" required="required" class=" form-control">
                                </p>
                                <input type="hidden" id="add_maintainer_form__token" name="add_maintainer_form[_token]" class=" form-control" value="N_XLQAcUCYXcDYGHffhgTNHYrd28EvF2kb0UpKeQFfo">
                                <input class="btn btn-block btn-success btn-lg" type="submit" value="Add Maintainer">
                            </div>
                        </form>

                    </div>

                    <div class="row versions-section">
                        <div class="version-details col-md-9">
                            <div class="title">
                                <span class="version-number">{{infoPackage.infoVersion}}</span>

                                <span class="release-date">{{infoPackage.time | date}}</span>
                            </div>

                            <div class="clearfix package-links">
                                <div class="row">
                                    <div class="clearfix visible-sm-block"></div>
                                    <div class="clearfix visible-md-block visible-lg-block"></div>
                                    <div class="requires col-sm-6 col-md-4 ">
                                        <p class="link-type">Requires</p>
                                        <ul v-if="hasKeys(infoPackage.require)" >
                                            <li v-for="version, package in infoPackage.require">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>                                                 
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                    <div class="devRequires col-sm-6 col-md-4 hidden-xs">
                                        <p class="link-type">Requires (Dev)</p>
                                        <ul v-if="hasKeys(infoPackage.requireDev)" >
                                            <li v-for="version, package in infoPackage.requireDev">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>    
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                    <div class="clearfix visible-sm-block"></div>
                                    <div class="suggests col-sm-6 col-md-4 hidden-xs">
                                        <p class="link-type">Suggests</p>
                                        <ul v-if="hasKeys(infoPackage.suggest)" >
                                            <li v-for="version, package in infoPackage.suggest">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>    
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                    <div class="clearfix visible-md-block visible-lg-block"></div>
                                    <div class="provides col-sm-6 col-md-4 hidden-xs">
                                        <p class="link-type">Provides</p>
                                        <ul v-if="hasKeys(infoPackage.provide)" >
                                            <li v-for="version, package in infoPackage.provide">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>    
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                    <div class="clearfix visible-sm-block"></div>
                                    <div class="conflicts col-sm-6 col-md-4 hidden-xs">
                                        <p class="link-type">Conflicts</p>
                                        <ul v-if="hasKeys(infoPackage.conflict)" >
                                            <li v-for="version, package in infoPackage.conflict">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>    
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                    <div class="replaces col-sm-6 col-md-4 hidden-xs">
                                        <p class="link-type">Replaces</p>
                                        <ul v-if="hasKeys(infoPackage.replace)" >
                                            <li v-for="version, package in infoPackage.replace">
                                                <template v-if="isLocalPackage(package)">
                                                    <router-link :to="localUrl(package)">{{package}}</router-link>: {{version}} 
                                                </template>
                                                <template v-else>
                                                    <a v-if="isPackage(package)" v-bind:href="packagistUrl(package)">{{package}}</a><span v-else>{{package}}</span>: {{version}} 
                                                </template>    
                                            </li>
                                        </ul>
                                        <p v-else class="no-links">None</p>
                                    </div>
                                </div>
                            </div>

                            <div class="metadata">

                                <p v-if="infoPackage.license" class="license"><i class="glyphicon glyphicon-copyright-mark" title="License"></i> {{infoPackage.license[0]}} <span class="source-reference"><i class="glyphicon glyphicon-bookmark" title="Source Reference"></i> {{infoPackage.source.reference}}</span></p>

                                <template v-if="hasLength(infoPackage.authors)">
                                    <i class="glyphicon glyphicon-user" title="Authors"></i>
                                    <ul class="authors">
                                        <li v-for="author in infoPackage.authors">
                                            <a v-bind:href="author.homepage">{{author.name}}</a>
                                        </li>
                                    </ul>
                                </template>

                                <p v-if="hasLength(infoPackage.keywords)" class="tags">
                                    <i class="glyphicon glyphicon-tag" title="Tags"></i>
                                    <template v-for="tag in infoPackage.keywords">
                                        <a href="#">{{tag}}</a>
                                    </template>
                            </div>
                        </div>


                        <div class="col-md-3 package-aside versions-wrapper">
                            <ul class="versions" v-bind:class="{ expanded: isHiddenExpander }">
                                <li v-for="infoVersion, version in infoPackage.versions" class="details-toggler version" v-bind:class="{ open: (version == infoPackage.infoVersion) }">
                                    <template v-if="infoVersion.extra && infoVersion.extra['branch-alias']">
                                            <a class="version-number" v-on:click="changeVersion(version)">{{infoVersion.extra['branch-alias'] | aliasName}}/{{ version }}</a>
                                    </template>
                                    <template v-else>
                                        <a class="version-number" v-on:click="changeVersion(version)">{{ version }}</a>
                                    </template>
                                </li>                               
                            </ul>
                            <div class="versions-expander" v-bind:class="{ hidden: isHiddenExpander }" v-on:click="expanded()">
                                <i class="glyphicon glyphicon-chevron-down"></i>
                            </div>
                        </div>

                    </div>

                    <hr class="clearfix">
                    <div class="readme markdown-body">
                        <div v-html="infoPackage.readme"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>

<script>

    const co        = require('co')
    const data      = require('./../../services/data')
    const _         = require('lodash')
    const moment    = require('moment')
    const showdown  = require('showdown')
    const copy      = require('copy-to-clipboard')
    const $         = require("jquery");

    const converter = new showdown.Converter()

    export default {
        name: 'show',
        data(){
            return {
                infoPackage: {
                    router: {
                        vendor: '', project: ''
                    },
                    name: '',
                    description: '',
                    versions: {},
                    infoVersion: '',
                    time: '',
                    replace: {},
                    require: {},
                    requireDev: {},
                    conflict: {},
                    suggest: {},
                    provide: {},
                    source: {
                        url: "",
                        reference: ""
                    },
                    license: [
                        'MIT'
                    ],
                    keywords: [],
                    authors: [],
                    support: {
                        issues: "",
                        source: ""
                    },
                    mantainer: {
                        img: ""
                    },
                    myPackages: []
                },
                isHiddenExpander: false
            }
        },
        watch: {
            '$route' (to, from) {
                this.getData()
            }
        },
        created(){
            this.getData()
        },
        filters: {
            date(value) {
                return moment(value).format('MMMM Do YYYY, h:mm:ss a')
            },
            md(text){
                return converter.makeHtml(text)
            },
            aliasName(objAlias){
                return Object.keys(objAlias)[0]
            }
        },      
        methods: {
            copyClickboard(){
                if(typeof this.infoPackage.name != 'string')
                    return false
                if (this.infoPackage.name.trim() != ""){
                    copy(`composer require ${this.infoPackage.name}`)
                }
            },
            isPackage(packageName){
                let parts = packageName.split("/")
                return (parts.length && parts.length == 2)
            },
            packagistUrl(packageName){
                return `https://packagist.org/packages/${packageName}`
            },
            localUrl(packageName){
                return `/packages/${packageName}`
            },
            hasContent(string){
                if(typeof string != 'string')
                    return false
                return string.trim() != ""
            },
            hasLength(array){
                return array.length > 0 
            },
            hasKeys(object){
                return Object.keys(object).length > 0 
            },    
            isLocalPackage(packageName){
                return this.infoPackage.myPackages.indexOf(packageName) != -1
            },     
            expanded(){
                this.isHiddenExpander = true
            },
            getData(version){
                let parameters = this.$route.params
                version == this.$route.query.version || version 
                data.GettingPackageData(parameters.vendor, parameters.project, version)
                    .then(results => {
                        _.assign(this.infoPackage, results)
                        this.infoPackage.router = this.$route.params
                        if (this.infoPackage.readme) 
                            this.infoPackage.readme = converter.makeHtml(this.infoPackage.readme)
                        if (this.infoPackage.versions && Object.keys(this.infoPackage.versions).length < 12)
                            this.isHiddenExpander = true
                    })                
            },
            changeVersion(version){   
                if (typeof version == 'object')   
                    version = Object.keys(version.extra['branch-alias'])[0]  
                this.getData(version)
            },
            deletePackage: function (event) {
                var result = confirm("Want to delete?");
                if (result) {
                    //Logic to delete the item
                    let parameters = this.$route.params
                    data.DeletePackage(parameters.vendor, parameters.project)
                        .then(() =>{
                            // Redirect to list
                            this.$router.push('/');
                        })
                }
            },
            updatePackage: function (event) {
                console.log('update')
            }            
        }
    }
</script>

<style>
    .expanded {
        max-height: inherit!important;
    }
</style>