<template>
    <div id="app">
        <header-satis></header-satis>
        <search-satis></search-satis>
        <section class="wrapper viewContent">
            <!--<transition mode="out-in">-->
              <router-view></router-view>
            <!--</transition>-->
        </section>
        <footer-satis></footer-satis>        
    </div>
</template>

<script>

require('./services/ws')()

const Header = require('./components/Header.vue')
const Search = require('./components/Search.vue')
const Footer = require('./components/Footer.vue')

export default {
  name: 'app',
  components: {
    'header-satis': Header,
    'search-satis': Search,
    'footer-satis': Footer,
  },
  data () {
    return {
      data : {},
      task : ''
    }
  },
  created() { 
  },
  methods: {
  }
}
</script>

<style>
  
    .v-enter-active, .v-leave-active {
        transition: opacity .5s
    }
    .v-enter, .v-leave-active /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
    }

  /*#app, body, html {
    height: 100%;
    min-height: 100%;
  }
  #app {
    padding-bottom: 127px;
  }
  section.viewContent {
    min-height: 100%;
  }
  footer {
    position: absolute;
    width: 100%;
  }*/
</style>